<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show.css">
    <title>Show</title>
</head>

<body> -->
<% layout('layouts/boilerplate') %>
    <main class="show-main">
        <div class="show">
            <div class="card">
                <div class="card-image-container">
                <div class="slider">
                    <% for (let img of item.images) { %>
                        <div class="card-image">
                            <img src="<%=img.url%>" alt="">
                        </div>
                        <% } %>
                        <% if (item.images.length > 1) { %>
                            <button class="prev-btn slider-btn">prev</button>
                            <button class="next-btn slider-btn">next</button>
                       <% } %>
                </div>
            </div>
                        <div class="card-details">
                            <h3>
                                <%=item.name%>
                            </h3>
                            <ul>
                                <li>
                                    Submitted by: <%=item.author.username%>
                                </li>
                                <li>
                                    <%=item.location.addressLineOne%>
                                </li>
                                <% if (item.location.addressLineTwo.length) { %>
                                    <li>
                                        <%=item.location.addressLineTwo%>
                                    </li>
                                    <%}%>
                                        <li>
                                            <%=item.location.city%>, <%=item.location.state%>
                                        </li>
                                        <li>
                                            <%=item.location.zip%>
                                        </li>
                            </ul>
                            <p>Category [<%=item.category%>]</p>
                            <p>Description: <%=item.details%>
                            </p>
                        </div>
                        <% if (currentUser && item.author.equals(currentUser._id)) { %>
                            <div class="card-controls">
                                <a href="/items/<%=item._id%>/edit"><button>Edit</button></a>
                                <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
                                    <button>Delete</button>
                                </form>
                            </div>
                            <% } %>
            </div>

            <a class="index-link" href="/items">Back to Index</a>
        </div>
        <section class="side-content">
            <% if (currentUser) { %>
                <div class="comment-form">
                    <form id="comment-form-actual" action="/items/<%=item._id%>/comment" method="POST">
                        <textarea name="comment" id="" cols="30" rows="10" class="comment-textarea"></textarea>
                        <button class="comment-button">Comment</button>
                    </form>
                </div>
                <% } %>
                    <% for (comment of item.comments) { %>
                        <div class="comment">
                            <h5 class="comment-username">
                                <%=comment.author.username%>
                            </h5>
                            <p>
                                <%=comment.comment%>
                            </p>
                            <% if (currentUser && comment.author.equals(currentUser._id)) { %>
                                <form action="/items/<%=item._id%>/comment/<%=comment._id%>?_method=DELETE"
                                    method="POST">
                                    <button>Delete</button>
                                </form>
                                <% } %>
                        </div>
                        <%}%>
        </section>
    </main>

    <script src="/scripts/slider.js"></script>

    <!-- </body>

</html> -->